openapi: 3.0.3
info:
  title: Swoi API
  description: |
    API dla aplikacji Swoi - lokalne rabaty i wspieranie sąsiedzkiego biznesu.

    ## Autoryzacja
    - JWT Bearer token w headerze `Authorization: Bearer <token>`
    - Access token ważny 15 minut
    - Refresh token ważny 30 dni

    ## Role
    - `CLIENT` - zwykły użytkownik aplikacji
    - `VENUE_USER` - użytkownik przypisany do lokalu (OWNER lub MANAGER)
    - `ADMIN` - administrator systemu

    ## Role w lokalu (VenueUser)
    - `OWNER` - właściciel: pełne uprawnienia (zmiana nazwy/logo, PIN, wypowiedzenie, oferty, managerowie)
    - `MANAGER` - manager: tylko oferty (tworzenie, edycja, pauzowanie, statystyki)
  version: 2.0.0
  contact:
    name: Swoi Team

servers:
  - url: https://api.swoi.app/v1
    description: Production
  - url: https://api.staging.swoi.app/v1
    description: Staging

tags:
  - name: Auth
    description: Autoryzacja i uwierzytelnianie
  - name: Districts
    description: Dzielnice / okolice
  - name: Categories
    description: Kategorie lokali
  - name: Venues
    description: Lokale
  - name: Offers
    description: Oferty / rabaty
  - name: Redemptions
    description: Realizacja rabatów (QR)
  - name: Reviews
    description: Oceny zrealizowanych ofert
  - name: User
    description: Profil użytkownika
  - name: Owner
    description: Panel właściciela/managera lokalu
  - name: Admin
    description: Panel administratora

paths:
  # ==================== AUTH ====================
  /auth/google:
    post:
      tags: [Auth]
      summary: Logowanie przez Google
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [idToken]
              properties:
                idToken:
                  type: string
                  description: Google ID token
      responses:
        '200':
          description: Zalogowano
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/apple:
    post:
      tags: [Auth]
      summary: Logowanie przez Apple
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [identityToken]
              properties:
                identityToken:
                  type: string
                  description: Apple identity token
      responses:
        '200':
          description: Zalogowano
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/magic-link:
    post:
      tags: [Auth]
      summary: Wysłanie magic link na email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: Link wysłany
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Link wysłany na email"
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /auth/magic-link/verify:
    post:
      tags: [Auth]
      summary: Weryfikacja magic link
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
                  description: Token z magic link
      responses:
        '200':
          description: Zalogowano
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/owner-invitation/accept:
    post:
      tags: [Auth]
      summary: Akceptacja zaproszenia właściciela (ustawienie hasła)
      description: |
        Endpoint dla nowych właścicieli zaproszonych przez admina.
        Token pochodzi z emaila, użytkownik ustawia hasło i akceptuje regulaminy.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, password, ownerData, consents]
              properties:
                token:
                  type: string
                  description: Token z emaila zaproszeniowego
                password:
                  type: string
                  minLength: 8
                  description: Nowe hasło
                ownerData:
                  $ref: '#/components/schemas/OwnerRegistrationData'
                consents:
                  type: object
                  required: [termsAccepted, privacyAccepted]
                  properties:
                    termsAccepted:
                      type: boolean
                    privacyAccepted:
                      type: boolean
                    marketingAccepted:
                      type: boolean
      responses:
        '200':
          description: Konto aktywowane
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Token wygasł lub nieprawidłowy
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/login:
    post:
      tags: [Auth]
      summary: Logowanie hasłem (dla owner/manager)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        '200':
          description: Zalogowano
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/AuthResponse'
                  - type: object
                    properties:
                      mustChangePassword:
                        type: boolean
                        description: Czy wymaga zmiany hasła (pierwsze logowanie)
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/change-password:
    post:
      tags: [Auth]
      summary: Zmiana hasła
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [currentPassword, newPassword]
              properties:
                currentPassword:
                  type: string
                newPassword:
                  type: string
                  minLength: 8
      responses:
        '200':
          description: Hasło zmienione
        '400':
          description: Nieprawidłowe aktualne hasło

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Odświeżenie access token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
      responses:
        '200':
          description: Token odświeżony
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/logout:
    post:
      tags: [Auth]
      summary: Wylogowanie (unieważnienie refresh token)
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Wylogowano

  # ==================== REGISTRATION ====================
  /auth/register:
    post:
      tags: [Auth]
      summary: Rejestracja klienta (po OAuth)
      description: |
        Uzupełnienie danych po pierwszym logowaniu OAuth.
        Wymagane: dzielnica + ulica + zgody.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [districtId, street, termsAccepted, privacyAccepted]
              properties:
                districtId:
                  type: string
                  format: uuid
                street:
                  type: string
                  maxLength: 200
                  description: Wymagana ulica zamieszkania
                termsAccepted:
                  type: boolean
                privacyAccepted:
                  type: boolean
                personalizedOffersConsent:
                  type: boolean
                  default: false
                  description: Zgoda na personalizowane oferty
      responses:
        '200':
          description: Rejestracja zakończona
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  # ==================== DISTRICTS ====================
  /districts:
    get:
      tags: [Districts]
      summary: Lista dzielnic
      parameters:
        - name: lat
          in: query
          schema:
            type: number
            format: double
          description: Szerokość geograficzna (do sortowania po odległości)
        - name: lng
          in: query
          schema:
            type: number
            format: double
          description: Długość geograficzna
        - name: search
          in: query
          schema:
            type: string
          description: Wyszukiwanie po nazwie
      responses:
        '200':
          description: Lista dzielnic
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/District'

  /districts/{id}:
    get:
      tags: [Districts]
      summary: Szczegóły dzielnicy
      parameters:
        - $ref: '#/components/parameters/PathId'
      responses:
        '200':
          description: Dzielnica
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/District'
        '404':
          $ref: '#/components/responses/NotFound'

  /districts/{id}/streets:
    get:
      tags: [Districts]
      summary: Lista ulic w dzielnicy (autocomplete)
      parameters:
        - $ref: '#/components/parameters/PathId'
        - name: search
          in: query
          schema:
            type: string
          description: Wyszukiwanie po nazwie ulicy
      responses:
        '200':
          description: Lista ulic
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: string
                    example: ["Aleje Jerozolimskie", "Andersa", "Anielewicza"]

  /districts/nearby:
    get:
      tags: [Districts]
      summary: Dzielnice w pobliżu (geolokalizacja)
      parameters:
        - name: lat
          in: query
          required: true
          schema:
            type: number
            format: double
        - name: lng
          in: query
          required: true
          schema:
            type: number
            format: double
        - name: radiusKm
          in: query
          schema:
            type: number
            default: 5
      responses:
        '200':
          description: Dzielnice w pobliżu
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      allOf:
                        - $ref: '#/components/schemas/District'
                        - type: object
                          properties:
                            distanceKm:
                              type: number
                              format: double

  # ==================== CATEGORIES ====================
  /categories:
    get:
      tags: [Categories]
      summary: Lista kategorii lokali
      responses:
        '200':
          description: Lista kategorii
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'

  # ==================== VENUES ====================
  /venues:
    get:
      tags: [Venues]
      summary: Lista lokali
      parameters:
        - name: districtId
          in: query
          schema:
            type: string
            format: uuid
          description: Filtr po dzielnicy
        - name: categoryId
          in: query
          schema:
            type: string
            format: uuid
          description: Filtr po kategorii
        - name: hasActiveOffers
          in: query
          schema:
            type: boolean
          description: Tylko lokale z aktywnymi ofertami
      responses:
        '200':
          description: Lista lokali
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VenueListItem'

  /venues/{id}:
    get:
      tags: [Venues]
      summary: Szczegóły lokalu
      parameters:
        - $ref: '#/components/parameters/PathId'
      responses:
        '200':
          description: Lokal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Venue'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==================== OFFERS ====================
  /offers:
    get:
      tags: [Offers]
      summary: Lista ofert
      parameters:
        - name: districtId
          in: query
          schema:
            type: string
            format: uuid
          description: Filtr po dzielnicy
        - name: categoryId
          in: query
          schema:
            type: string
            format: uuid
          description: Filtr po kategorii lokalu
        - name: venueId
          in: query
          schema:
            type: string
            format: uuid
          description: Filtr po lokalu
        - name: sort
          in: query
          schema:
            type: string
            enum: [newest, ending_soon]
            default: newest
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 50
      responses:
        '200':
          description: Lista ofert
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/OfferListItem'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

  /offers/{id}:
    get:
      tags: [Offers]
      summary: Szczegóły oferty
      parameters:
        - $ref: '#/components/parameters/PathId'
      responses:
        '200':
          description: Oferta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offer'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==================== REDEMPTIONS ====================
  /redemptions:
    get:
      tags: [Redemptions]
      summary: Historia realizacji użytkownika
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [PENDING, REDEEMED, EXPIRED]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Historia realizacji
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Redemption'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

    post:
      tags: [Redemptions]
      summary: Wygeneruj kod QR dla oferty
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [offerId]
              properties:
                offerId:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Kod wygenerowany
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Redemption'
        '400':
          description: Błąd walidacji
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                dailyLimit:
                  summary: Limit dzienny
                  value:
                    error: "DAILY_LIMIT_REACHED"
                    message: "Już dziś skorzystałeś z tej oferty"
                offerExpired:
                  summary: Oferta wygasła
                  value:
                    error: "OFFER_EXPIRED"
                    message: "Ta oferta już wygasła"

  /redemptions/{qrCode}:
    get:
      tags: [Redemptions]
      summary: Pobierz dane realizacji (dla pracownika)
      description: |
        Endpoint publiczny - używany po zeskanowaniu QR.

        **Rate limit:** 10 req/min per IP (anti-enumeration)
      parameters:
        - name: qrCode
          in: path
          required: true
          schema:
            type: string
          example: "RDM-A7X2K9"
      responses:
        '200':
          description: Dane realizacji
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedemptionValidation'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          description: QR kod wygasł
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "QR_EXPIRED"
                message: "Kod QR wygasł. Klient może wygenerować nowy w aplikacji."
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /redemptions/{qrCode}/validate:
    post:
      tags: [Redemptions]
      summary: Potwierdź realizację (pracownik wpisuje PIN)
      description: |
        Walidacja PINem lokalu.

        **Komunikat personalizacji:** Po pomyślnej walidacji zwracany jest komunikat
        o zgodzie na personalizowane oferty (do wyświetlenia klientowi).

        **Rate limits:**
        - 5 req/5min per qrCode (anti brute-force)
        - 20 req/min per IP (anti DDoS)

        **Blokada:** Po 3 błędnych PINach kod blokowany na 15 minut.
      parameters:
        - name: qrCode
          in: path
          required: true
          schema:
            type: string
          example: "RDM-A7X2K9"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [pin]
              properties:
                pin:
                  type: string
                  minLength: 4
                  maxLength: 4
                  example: "1234"
      responses:
        '200':
          description: Zrealizowano
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  redeemedAt:
                    type: string
                    format: date-time
                  personalizationNotice:
                    type: string
                    description: Komunikat o personalizacji do wyświetlenia klientowi
                    example: "Realizując ofertę wyrażasz zgodę na otrzymywanie spersonalizowanych ofert."
        '400':
          description: Błąd walidacji
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalidPin:
                  summary: Błędny PIN
                  value:
                    error: "INVALID_PIN"
                    message: "Nieprawidłowy PIN"
                alreadyRedeemed:
                  summary: Już zrealizowano
                  value:
                    error: "ALREADY_REDEEMED"
                    message: "Ten kod został już wykorzystany"
                qrExpired:
                  summary: QR wygasł
                  value:
                    error: "QR_EXPIRED"
                    message: "Kod QR wygasł. Klient może wygenerować nowy."
                temporarilyBlocked:
                  summary: Tymczasowa blokada
                  value:
                    error: "REDEMPTION_TEMPORARILY_BLOCKED"
                    message: "Zbyt wiele błędnych prób. Kod zablokowany na 15 minut."
        '429':
          $ref: '#/components/responses/TooManyRequests'

  # ==================== REVIEWS ====================
  /redemptions/{redemptionId}/review:
    post:
      tags: [Reviews]
      summary: Dodaj ocenę zrealizowanej oferty
      description: Opcjonalna ocena po realizacji (z historii realizacji)
      security:
        - bearerAuth: []
      parameters:
        - name: redemptionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [rating]
              properties:
                rating:
                  type: integer
                  minimum: 1
                  maximum: 5
                  description: Ocena 1-5 gwiazdek
                comment:
                  type: string
                  maxLength: 500
                  description: Opcjonalny komentarz
      responses:
        '201':
          description: Ocena dodana
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferReview'
        '400':
          description: Błąd walidacji
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                alreadyReviewed:
                  summary: Już oceniono
                  value:
                    error: "ALREADY_REVIEWED"
                    message: "Ta realizacja została już oceniona"
                notRedeemed:
                  summary: Nie zrealizowano
                  value:
                    error: "NOT_REDEEMED"
                    message: "Można ocenić tylko zrealizowane oferty"
                commentRejected:
                  summary: Komentarz odrzucony
                  value:
                    error: "COMMENT_REJECTED"
                    message: "Komentarz zawiera niedozwolone treści"

  # ==================== USER ====================
  /user/me:
    get:
      tags: [User]
      summary: Profil zalogowanego użytkownika
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Profil
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

    patch:
      tags: [User]
      summary: Aktualizacja profilu
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 100
                street:
                  type: string
                  maxLength: 200
      responses:
        '200':
          description: Zaktualizowano
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

    delete:
      tags: [User]
      summary: Usunięcie konta (GDPR)
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Konto usunięte

  /user/consents:
    get:
      tags: [User]
      summary: Pobierz zgody użytkownika
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Zgody
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserConsents'

    patch:
      tags: [User]
      summary: Aktualizuj zgody (np. wycofaj personalizację)
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                personalizedOffersConsent:
                  type: boolean
                marketingConsent:
                  type: boolean
      responses:
        '200':
          description: Zaktualizowano
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserConsents'

  /user/districts:
    get:
      tags: [User]
      summary: Subskrybowane dzielnice
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista subskrypcji
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserDistrict'

    post:
      tags: [User]
      summary: Subskrybuj dzielnicę
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [districtId]
              properties:
                districtId:
                  type: string
                  format: uuid
                notificationsEnabled:
                  type: boolean
                  default: true
      responses:
        '201':
          description: Subskrypcja dodana
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDistrict'
        '409':
          description: Już subskrybowano

  /user/districts/{districtId}:
    patch:
      tags: [User]
      summary: Aktualizuj ustawienia subskrypcji
      security:
        - bearerAuth: []
      parameters:
        - name: districtId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                notificationsEnabled:
                  type: boolean
      responses:
        '200':
          description: Zaktualizowano
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDistrict'

    delete:
      tags: [User]
      summary: Usuń subskrypcję dzielnicy
      security:
        - bearerAuth: []
      parameters:
        - name: districtId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Usunięto

  /user/favorites:
    get:
      tags: [User]
      summary: Ulubione lokale
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista ulubionych
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VenueListItem'

    post:
      tags: [User]
      summary: Dodaj do ulubionych
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [venueId]
              properties:
                venueId:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Dodano
        '409':
          description: Już w ulubionych

  /user/favorites/{venueId}:
    delete:
      tags: [User]
      summary: Usuń z ulubionych
      security:
        - bearerAuth: []
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Usunięto

  /user/push-token:
    post:
      tags: [User]
      summary: Rejestracja tokena push
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, platform]
              properties:
                token:
                  type: string
                platform:
                  type: string
                  enum: [WEB, IOS, ANDROID]
      responses:
        '200':
          description: Token zarejestrowany

    delete:
      tags: [User]
      summary: Usuń token push (wylogowanie z urządzenia)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
      responses:
        '204':
          description: Token usunięty

  /user/push-settings:
    get:
      tags: [User]
      summary: Pobierz ustawienia push
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Ustawienia push
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PushSettings'

    patch:
      tags: [User]
      summary: Aktualizuj ustawienia push
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                pushEnabled:
                  type: boolean
                digestTime:
                  type: string
                  pattern: '^([01]?[0-9]|2[0-3]):[0-5][0-9]$'
                  example: "10:00"
      responses:
        '200':
          description: Zaktualizowano
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PushSettings'

  # ==================== OWNER/MANAGER ====================
  /owner/venues:
    get:
      tags: [Owner]
      summary: Moje lokale (lista)
      description: Zwraca lokale, do których użytkownik ma dostęp (jako OWNER lub MANAGER)
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista lokali
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VenueOwnerListItem'

  /owner/venues/{venueId}:
    get:
      tags: [Owner]
      summary: Szczegóły lokalu
      security:
        - bearerAuth: []
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Lokal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VenueOwnerView'
        '403':
          description: Brak dostępu do tego lokalu

  /owner/venues/{venueId}/change-request:
    post:
      tags: [Owner]
      summary: Złóż wniosek o zmianę nazwy/logo (tylko OWNER)
      description: Zmiana nazwy lub logo wymaga akceptacji admina
      security:
        - bearerAuth: []
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                newName:
                  type: string
                  maxLength: 100
                newLogoUrl:
                  type: string
                  format: uri
      responses:
        '201':
          description: Wniosek złożony
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VenueChangeRequest'
        '403':
          description: Tylko OWNER może zmieniać nazwę/logo

  /owner/venues/{venueId}/change-requests:
    get:
      tags: [Owner]
      summary: Historia wniosków o zmianę
      security:
        - bearerAuth: []
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Lista wniosków
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VenueChangeRequest'

  /owner/venues/{venueId}/logo:
    post:
      tags: [Owner]
      summary: Upload nowego logo (tylko OWNER)
      description: Zwraca URL, który trzeba przekazać do change-request
      security:
        - bearerAuth: []
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Logo uploadowane (oczekuje na akceptację)
          content:
            application/json:
              schema:
                type: object
                properties:
                  pendingLogoUrl:
                    type: string
                    format: uri
        '403':
          description: Tylko OWNER może zmieniać logo

  /owner/venues/{venueId}/pin:
    patch:
      tags: [Owner]
      summary: Zmień PIN walidacji (tylko OWNER)
      security:
        - bearerAuth: []
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [newPin]
              properties:
                newPin:
                  type: string
                  minLength: 4
                  maxLength: 4
      responses:
        '200':
          description: PIN zmieniony
        '403':
          description: Tylko OWNER może zmieniać PIN

  /owner/venues/{venueId}/terminate:
    post:
      tags: [Owner]
      summary: Wypowiedzenie umowy (tylko OWNER)
      description: |
        Rozpoczyna 30-dniowy okres wypowiedzenia.
        W tym czasie oferty działają, ale nie można tworzyć nowych.
      security:
        - bearerAuth: []
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  maxLength: 500
                  description: Opcjonalny powód wypowiedzenia
      responses:
        '200':
          description: Wypowiedzenie przyjęte
          content:
            application/json:
              schema:
                type: object
                properties:
                  terminationRequestedAt:
                    type: string
                    format: date-time
                  terminationEffectiveAt:
                    type: string
                    format: date-time
                    description: Data zakończenia (za 30 dni)
        '403':
          description: Tylko OWNER może wypowiedzieć umowę

  /owner/venues/{venueId}/stats:
    get:
      tags: [Owner]
      summary: Statystyki lokalu
      security:
        - bearerAuth: []
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Statystyki
          content:
            application/json:
              schema:
                type: object
                properties:
                  activeOffers:
                    type: integer
                  redemptionsToday:
                    type: integer
                  redemptionsWeek:
                    type: integer
                  redemptionsTotal:
                    type: integer
                  averageRating:
                    type: number
                    format: double
                    description: Średnia ocen (tylko dla właściciela, nie publiczna)
                  totalReviews:
                    type: integer

  /owner/venues/{venueId}/managers:
    get:
      tags: [Owner]
      summary: Lista managerów lokalu (tylko OWNER)
      security:
        - bearerAuth: []
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Lista managerów
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VenueManager'
        '403':
          description: Tylko OWNER może zarządzać managerami

    post:
      tags: [Owner]
      summary: Zaproś managera (tylko OWNER)
      security:
        - bearerAuth: []
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        '201':
          description: Zaproszenie wysłane
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VenueManager'
        '403':
          description: Tylko OWNER może zapraszać managerów
        '409':
          description: Użytkownik jest już przypisany do lokalu

  /owner/venues/{venueId}/managers/{userId}:
    delete:
      tags: [Owner]
      summary: Usuń managera (tylko OWNER)
      security:
        - bearerAuth: []
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Manager usunięty
        '403':
          description: Tylko OWNER może usuwać managerów

  /owner/venues/{venueId}/offers:
    get:
      tags: [Owner]
      summary: Oferty lokalu
      security:
        - bearerAuth: []
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum: [DRAFT, PENDING_REVIEW, SCHEDULED, ACTIVE, PAUSED, EXPIRED, REJECTED]
      responses:
        '200':
          description: Lista ofert
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/OfferOwnerView'

    post:
      tags: [Owner]
      summary: Utwórz ofertę
      description: |
        Nowa oferta przechodzi moderację i jest publikowana za minimum 3 dni.
        Status flow: DRAFT → PENDING_REVIEW → SCHEDULED → ACTIVE
      security:
        - bearerAuth: []
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfferCreate'
      responses:
        '201':
          description: Oferta utworzona (w moderacji)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferOwnerView'
        '400':
          description: Błąd walidacji
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                dailyOfferLimit:
                  summary: Limit ofert
                  value:
                    error: "DAILY_OFFER_LIMIT"
                    message: "Możesz mieć tylko 1 aktywną ofertę dziennie (plan darmowy)"
                contentRejected:
                  summary: Treść odrzucona
                  value:
                    error: "CONTENT_REJECTED"
                    message: "Treść oferty zawiera niedozwolone wyrażenia"
                venueTerminating:
                  summary: Lokal w wypowiedzeniu
                  value:
                    error: "VENUE_TERMINATING"
                    message: "Nie można tworzyć nowych ofert w okresie wypowiedzenia"

  /owner/venues/{venueId}/offers/{offerId}:
    get:
      tags: [Owner]
      summary: Szczegóły oferty
      security:
        - bearerAuth: []
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: offerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Oferta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferOwnerView'

    patch:
      tags: [Owner]
      summary: Aktualizuj ofertę (tylko DRAFT lub REJECTED)
      security:
        - bearerAuth: []
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: offerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfferCreate'
      responses:
        '200':
          description: Zaktualizowano
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferOwnerView'
        '400':
          description: Nie można edytować oferty w tym statusie

    delete:
      tags: [Owner]
      summary: Usuń ofertę (tylko DRAFT)
      security:
        - bearerAuth: []
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: offerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Usunięto

  /owner/venues/{venueId}/offers/{offerId}/submit:
    post:
      tags: [Owner]
      summary: Wyślij ofertę do moderacji (DRAFT → PENDING_REVIEW)
      security:
        - bearerAuth: []
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: offerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Wysłano do moderacji
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferOwnerView'

  /owner/venues/{venueId}/offers/{offerId}/pause:
    post:
      tags: [Owner]
      summary: Wstrzymaj ofertę (ACTIVE → PAUSED)
      security:
        - bearerAuth: []
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: offerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Wstrzymano

  /owner/venues/{venueId}/offers/{offerId}/resume:
    post:
      tags: [Owner]
      summary: Wznów ofertę (PAUSED → ACTIVE)
      security:
        - bearerAuth: []
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: offerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Wznowiono

  # ==================== ADMIN ====================
  /admin/stats:
    get:
      tags: [Admin]
      summary: Statystyki globalne
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Statystyki
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalUsers:
                    type: integer
                  totalVenues:
                    type: integer
                  activeOffers:
                    type: integer
                  redemptionsToday:
                    type: integer
                  pendingModerations:
                    type: integer
                  pendingChangeRequests:
                    type: integer

  /admin/owner-invitations:
    get:
      tags: [Admin]
      summary: Lista zaproszeń właścicieli
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [PENDING, ACCEPTED, EXPIRED]
      responses:
        '200':
          description: Lista zaproszeń
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/OwnerInvitation'

    post:
      tags: [Admin]
      summary: Zaproś właściciela (utwórz konto + wyślij email)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, venueId]
              properties:
                email:
                  type: string
                  format: email
                venueId:
                  type: string
                  format: uuid
                  description: ID lokalu, do którego przypisać właściciela
      responses:
        '201':
          description: Zaproszenie wysłane
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OwnerInvitation'
        '409':
          description: Email już zarejestrowany

  /admin/offer-moderations:
    get:
      tags: [Admin]
      summary: Oferty do moderacji
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [PENDING_REVIEW]
            default: PENDING_REVIEW
      responses:
        '200':
          description: Lista ofert do moderacji
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/OfferModeration'

  /admin/offer-moderations/{offerId}/approve:
    post:
      tags: [Admin]
      summary: Zatwierdź ofertę (może przyspieszyć publikację)
      security:
        - bearerAuth: []
      parameters:
        - name: offerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                publishImmediately:
                  type: boolean
                  default: false
                  description: Opublikuj natychmiast (pomiń 3 dni)
      responses:
        '200':
          description: Zatwierdzona

  /admin/offer-moderations/{offerId}/reject:
    post:
      tags: [Admin]
      summary: Odrzuć ofertę
      security:
        - bearerAuth: []
      parameters:
        - name: offerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
                  maxLength: 500
      responses:
        '200':
          description: Odrzucona

  /admin/venue-change-requests:
    get:
      tags: [Admin]
      summary: Wnioski o zmianę nazwy/logo
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [PENDING, APPROVED, REJECTED]
            default: PENDING
      responses:
        '200':
          description: Lista wniosków
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VenueChangeRequestAdmin'

  /admin/venue-change-requests/{id}/approve:
    post:
      tags: [Admin]
      summary: Zatwierdź zmianę nazwy/logo
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Zatwierdzona

  /admin/venue-change-requests/{id}/reject:
    post:
      tags: [Admin]
      summary: Odrzuć zmianę nazwy/logo
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
                  maxLength: 500
      responses:
        '200':
          description: Odrzucona

  /admin/districts:
    get:
      tags: [Admin]
      summary: Lista dzielnic (admin)
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista dzielnic
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DistrictAdmin'

    post:
      tags: [Admin]
      summary: Utwórz dzielnicę
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistrictCreate'
      responses:
        '201':
          description: Utworzono
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistrictAdmin'

  /admin/districts/{id}:
    patch:
      tags: [Admin]
      summary: Aktualizuj dzielnicę
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PathId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistrictCreate'
      responses:
        '200':
          description: Zaktualizowano

    delete:
      tags: [Admin]
      summary: Usuń dzielnicę
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PathId'
      responses:
        '204':
          description: Usunięto
        '400':
          description: Dzielnica ma przypisane lokale

  /admin/venues:
    get:
      tags: [Admin]
      summary: Lista lokali (admin)
      security:
        - bearerAuth: []
      parameters:
        - name: districtId
          in: query
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum: [ACTIVE, INACTIVE, TERMINATING, TERMINATED, DELETED]
      responses:
        '200':
          description: Lista lokali
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VenueAdmin'

    post:
      tags: [Admin]
      summary: Utwórz lokal
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VenueCreate'
      responses:
        '201':
          description: Utworzono
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VenueAdmin'

  /admin/venues/{id}:
    patch:
      tags: [Admin]
      summary: Aktualizuj lokal
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PathId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VenueCreate'
      responses:
        '200':
          description: Zaktualizowano

    delete:
      tags: [Admin]
      summary: Deaktywuj lokal
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PathId'
      responses:
        '204':
          description: Deaktywowano

  /admin/categories:
    get:
      tags: [Admin]
      summary: Lista kategorii (admin)
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista kategorii
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CategoryAdmin'

    post:
      tags: [Admin]
      summary: Utwórz kategorię
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryCreate'
      responses:
        '201':
          description: Utworzono

  /admin/categories/{id}:
    patch:
      tags: [Admin]
      summary: Aktualizuj kategorię
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PathId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryCreate'
      responses:
        '200':
          description: Zaktualizowano

    delete:
      tags: [Admin]
      summary: Usuń kategorię
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PathId'
      responses:
        '204':
          description: Usunięto
        '400':
          description: Kategoria ma przypisane lokale

  /admin/categories/reorder:
    post:
      tags: [Admin]
      summary: Zmień kolejność kategorii
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [order]
              properties:
                order:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: Lista ID kategorii w nowej kolejności
      responses:
        '200':
          description: Kolejność zmieniona

  /admin/users:
    get:
      tags: [Admin]
      summary: Lista użytkowników
      security:
        - bearerAuth: []
      parameters:
        - name: search
          in: query
          schema:
            type: string
          description: Szukaj po nazwie lub email
        - name: role
          in: query
          schema:
            type: string
            enum: [CLIENT, VENUE_USER, ADMIN]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Lista użytkowników
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserAdmin'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

  /admin/users/{id}:
    get:
      tags: [Admin]
      summary: Szczegóły użytkownika
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PathId'
      responses:
        '200':
          description: Użytkownik
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAdmin'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    PathId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid

  responses:
    Unauthorized:
      description: Brak autoryzacji
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "UNAUTHORIZED"
            message: "Wymagane zalogowanie"

    NotFound:
      description: Nie znaleziono
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "NOT_FOUND"
            message: "Nie znaleziono zasobu"

    TooManyRequests:
      description: Zbyt wiele żądań
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "TOO_MANY_REQUESTS"
            message: "Poczekaj przed kolejną próbą"

  schemas:
    Error:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
        message:
          type: string

    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer

    AuthResponse:
      type: object
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
        expiresIn:
          type: integer
          description: Czas ważności access token w sekundach
        user:
          $ref: '#/components/schemas/User'

    OwnerRegistrationData:
      type: object
      required: [fullName, phone, companyName, companyNip, companyAddress]
      properties:
        fullName:
          type: string
          maxLength: 100
          description: Imię i nazwisko osoby kontaktowej
        phone:
          type: string
          maxLength: 20
        companyName:
          type: string
          maxLength: 200
        companyNip:
          type: string
          pattern: '^\d{10}$'
        companyAddress:
          type: string
          maxLength: 300

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
        avatarUrl:
          type: string
          format: uri
        authProvider:
          type: string
          enum: [GOOGLE, APPLE, EMAIL, ADMIN_CREATED]
        role:
          type: string
          enum: [CLIENT, VENUE_USER, ADMIN]
        districtId:
          type: string
          format: uuid
        street:
          type: string
        createdAt:
          type: string
          format: date-time

    UserConsents:
      type: object
      properties:
        termsAccepted:
          type: boolean
        privacyAccepted:
          type: boolean
        personalizedOffersConsent:
          type: boolean
        marketingConsent:
          type: boolean
        consentDate:
          type: string
          format: date-time

    UserAdmin:
      allOf:
        - $ref: '#/components/schemas/User'
        - type: object
          properties:
            lastActiveAt:
              type: string
              format: date-time
            venuesCount:
              type: integer
              description: Liczba lokali (jako owner lub manager)
            redemptionsCount:
              type: integer

    District:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        centerLat:
          type: number
          format: double
        centerLng:
          type: number
          format: double
        radiusKm:
          type: number
          format: double
        venuesCount:
          type: integer
        activeOffersCount:
          type: integer

    DistrictAdmin:
      allOf:
        - $ref: '#/components/schemas/District'
        - type: object
          properties:
            active:
              type: boolean
            subscribersCount:
              type: integer
            createdAt:
              type: string
              format: date-time

    DistrictCreate:
      type: object
      required: [name, slug, centerLat, centerLng, radiusKm]
      properties:
        name:
          type: string
          maxLength: 100
        slug:
          type: string
          maxLength: 50
        centerLat:
          type: number
          format: double
        centerLng:
          type: number
          format: double
        radiusKm:
          type: number
          format: double
        active:
          type: boolean
          default: true

    UserDistrict:
      type: object
      properties:
        district:
          $ref: '#/components/schemas/District'
        notificationsEnabled:
          type: boolean
        subscribedAt:
          type: string
          format: date-time

    Category:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        icon:
          type: string
        sortOrder:
          type: integer

    CategoryAdmin:
      allOf:
        - $ref: '#/components/schemas/Category'
        - type: object
          properties:
            venuesCount:
              type: integer

    CategoryCreate:
      type: object
      required: [name, slug, icon]
      properties:
        name:
          type: string
          maxLength: 50
        slug:
          type: string
          maxLength: 50
        icon:
          type: string
          maxLength: 50
        sortOrder:
          type: integer
          default: 0

    VenueListItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        logoUrl:
          type: string
          format: uri
        category:
          $ref: '#/components/schemas/Category'
        activeOffersCount:
          type: integer
        isFavorite:
          type: boolean
          description: Czy użytkownik ma w ulubionych (null jeśli niezalogowany)

    Venue:
      allOf:
        - $ref: '#/components/schemas/VenueListItem'
        - type: object
          properties:
            address:
              type: string
            description:
              type: string
            district:
              $ref: '#/components/schemas/District'

    VenueOwnerListItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        logoUrl:
          type: string
          format: uri
        status:
          type: string
          enum: [ACTIVE, INACTIVE, TERMINATING, TERMINATED]
        role:
          type: string
          enum: [OWNER, MANAGER]
          description: Rola użytkownika w tym lokalu

    VenueOwnerView:
      allOf:
        - $ref: '#/components/schemas/Venue'
        - type: object
          properties:
            status:
              type: string
              enum: [ACTIVE, INACTIVE, TERMINATING, TERMINATED]
            validationPin:
              type: string
              description: PIN do walidacji (widoczny tylko dla OWNER)
            role:
              type: string
              enum: [OWNER, MANAGER]
            terminationRequestedAt:
              type: string
              format: date-time
            terminationEffectiveAt:
              type: string
              format: date-time
            pendingChangeRequest:
              $ref: '#/components/schemas/VenueChangeRequest'

    VenueAdmin:
      allOf:
        - $ref: '#/components/schemas/Venue'
        - type: object
          properties:
            status:
              type: string
              enum: [ACTIVE, INACTIVE, TERMINATING, TERMINATED, DELETED]
            validationPin:
              type: string
            ownersCount:
              type: integer
            managersCount:
              type: integer
            createdAt:
              type: string
              format: date-time
            terminationRequestedAt:
              type: string
              format: date-time
            terminationEffectiveAt:
              type: string
              format: date-time

    VenueCreate:
      type: object
      required: [name, districtId, categoryId, address]
      properties:
        name:
          type: string
          maxLength: 100
        districtId:
          type: string
          format: uuid
        categoryId:
          type: string
          format: uuid
        address:
          type: string
          maxLength: 200
        description:
          type: string
          maxLength: 1000
        validationPin:
          type: string
          minLength: 4
          maxLength: 4
        status:
          type: string
          enum: [ACTIVE, INACTIVE]
          default: ACTIVE

    VenueManager:
      type: object
      properties:
        userId:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
        role:
          type: string
          enum: [OWNER, MANAGER]
        invitedAt:
          type: string
          format: date-time
        acceptedAt:
          type: string
          format: date-time
          description: NULL jeśli oczekuje na akceptację

    VenueChangeRequest:
      type: object
      properties:
        id:
          type: string
          format: uuid
        changeType:
          type: string
          enum: [NAME, LOGO, NAME_AND_LOGO]
        newName:
          type: string
        newLogoUrl:
          type: string
          format: uri
        status:
          type: string
          enum: [PENDING, APPROVED, REJECTED]
        rejectionReason:
          type: string
        createdAt:
          type: string
          format: date-time
        reviewedAt:
          type: string
          format: date-time

    VenueChangeRequestAdmin:
      allOf:
        - $ref: '#/components/schemas/VenueChangeRequest'
        - type: object
          properties:
            venue:
              $ref: '#/components/schemas/VenueListItem'
            requestedBy:
              $ref: '#/components/schemas/User'

    OwnerInvitation:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        venue:
          $ref: '#/components/schemas/VenueListItem'
        status:
          type: string
          enum: [PENDING, ACCEPTED, EXPIRED]
        createdAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
        acceptedAt:
          type: string
          format: date-time

    OfferListItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        discountType:
          type: string
          enum: [PERCENTAGE, FIXED_AMOUNT, FREE_ITEM]
        discountValue:
          type: number
          description: Wartość rabatu (null dla FREE_ITEM)
        freeItemName:
          type: string
          description: Nazwa darmowego produktu (tylko dla FREE_ITEM)
        validFrom:
          type: string
          format: date
        validTo:
          type: string
          format: date
        venue:
          $ref: '#/components/schemas/VenueListItem'

    Offer:
      allOf:
        - $ref: '#/components/schemas/OfferListItem'
        - type: object
          properties:
            description:
              type: string
            qrValidityMinutes:
              type: integer
              description: Czas ważności QR w minutach (null = do końca oferty)

    OfferOwnerView:
      allOf:
        - $ref: '#/components/schemas/Offer'
        - type: object
          properties:
            status:
              type: string
              enum: [DRAFT, PENDING_REVIEW, SCHEDULED, ACTIVE, PAUSED, EXPIRED, REJECTED]
            scheduledPublishAt:
              type: string
              format: date-time
              description: Kiedy oferta zostanie aktywowana (dla SCHEDULED)
            rejectionReason:
              type: string
              description: Powód odrzucenia (dla REJECTED)
            redemptionsCount:
              type: integer
            redemptionsToday:
              type: integer
            createdAt:
              type: string
              format: date-time

    OfferModeration:
      allOf:
        - $ref: '#/components/schemas/OfferOwnerView'
        - type: object
          properties:
            moderationScore:
              type: number
              format: double
              description: Wynik AI (0-1)
            moderationFlags:
              type: array
              items:
                type: string
              description: Flagi z moderacji (np. ["profanity"])
            createdBy:
              $ref: '#/components/schemas/User'

    OfferCreate:
      type: object
      required: [title, discountType, validFrom, validTo]
      properties:
        title:
          type: string
          maxLength: 100
        description:
          type: string
          maxLength: 500
        discountType:
          type: string
          enum: [PERCENTAGE, FIXED_AMOUNT, FREE_ITEM]
        discountValue:
          type: number
          description: Wymagane dla PERCENTAGE i FIXED_AMOUNT
        freeItemName:
          type: string
          maxLength: 100
          description: Wymagane dla FREE_ITEM
        validFrom:
          type: string
          format: date
        validTo:
          type: string
          format: date
        qrValidityMinutes:
          type: integer
          enum: [5, 10, 15, 30, 60]
          default: 15
          description: Czas ważności QR (null = do końca oferty)

    Redemption:
      type: object
      properties:
        id:
          type: string
          format: uuid
        qrCode:
          type: string
          example: "RDM-A7X2K9"
        status:
          type: string
          enum: [PENDING, REDEEMED, EXPIRED]
        qrGeneratedAt:
          type: string
          format: date-time
        qrExpiresAt:
          type: string
          format: date-time
          description: Kiedy QR wygasa
        redeemedAt:
          type: string
          format: date-time
        offer:
          $ref: '#/components/schemas/OfferListItem'
        review:
          $ref: '#/components/schemas/OfferReview'
          description: Ocena (jeśli dodano)

    RedemptionValidation:
      type: object
      description: Dane wyświetlane pracownikowi po zeskanowaniu QR
      properties:
        qrCode:
          type: string
        status:
          type: string
          enum: [PENDING, REDEEMED, EXPIRED]
        qrExpiresAt:
          type: string
          format: date-time
        timeRemainingSeconds:
          type: integer
          description: Ile sekund do wygaśnięcia QR
        customerName:
          type: string
          description: Imię klienta (nie pełne dane)
        offer:
          type: object
          properties:
            title:
              type: string
            discountType:
              type: string
            discountValue:
              type: number
            freeItemName:
              type: string
        venueName:
          type: string
        redeemedAt:
          type: string
          format: date-time
          description: Jeśli już zrealizowano

    OfferReview:
      type: object
      properties:
        id:
          type: string
          format: uuid
        rating:
          type: integer
          minimum: 1
          maximum: 5
        comment:
          type: string
        createdAt:
          type: string
          format: date-time

    PushSettings:
      type: object
      properties:
        pushEnabled:
          type: boolean
          description: Master switch dla wszystkich push
        digestTime:
          type: string
          example: "10:00"
          description: Godzina wysyłki digestu (HH:mm)
        tokensCount:
          type: integer
          description: Liczba zarejestrowanych urządzeń
